/**
 * comments - destroy.js.erb
 *
 * university:      University of Applied Sciences Salzburg
 * degree course:   MultiMediaTechnology (BSc)
 * usage:           Multimediaprojekt 3 (MMP3)
 * authors:         Stephan Griessner
 *                  Manuel Mitterer
 *                  Franziska Oberhauser
 */

$('.media-comment[data-id=<%= @comment.id %>]').remove();
if ($('.media-comment').length < 1){
    $('#media-comments-container h3').after('<div class="empty-comments"><p>Be the first to comment this media.</p></div>');
}
