/**
 * styles - about.scss
 *
 * university:      University of Applied Sciences Salzburg
 * degree course:   MultiMediaTechnology (BSc)
 * usage:           Multimediaprojekt 3 (MMP3)
 * authors:         Stephan Griessner
 *                  Manuel Mitterer
 *                  Franziska Oberhauser
 */

$h1: 4em;
$h3: 2em;
$font_size_mobile: 16px;
$font_size_desktop: 18px;
$marker_width: 50px;
$font-text: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-header: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;
$content_about_width: 400px;
$content_about_border: 20px;
$content_about_width_tablet: 380px;

@mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

/* Mobile */
body.about {
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: $font_size_mobile;
    font-family: $font-text;
    h1 {
        font-size: 1.5em;
        font-family: $font-header;
    }
    h3 {
        font-size: 1.3em;
        font-family: $font-header;
    }
}

.about_page_article {
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    padding: 5vh 5vw;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    -webkit-transform-style: inherit;
    transform-style: inherit;
    color: white;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left:0;
        right:0;
    }
    a {
        color: #ffffff;
        text-decoration: underline;
        cursor: pointer
    }
}

.line{
    border-left: 3px dashed #fff;
    position: absolute;
}

.line-side{
    border-top: 3px dashed #fff;
    position: absolute;
}

.about_marker{
    width: $marker_width;
    height: calc(#{$marker_width} / 52 * 66);
}

#about_header {
    width: 100%;
    margin: 80px auto;
    text-align: center;
    h1 {
        font-weight: bold;
        margin-bottom: 5px;
    }
    p {
        text-transform: uppercase;
        font-size: 10px;
    }
}

#about_top {
    width: 100%;
    background-image: image_url('skateboard.jpg');
    background-position: center bottom;
    #about_logo{
        width: 50%;
        height: 50%;
        position: absolute;
        top: 33%;
        left: 50%;
    }
    #about_line{
        height: 25%;
        bottom: 0;
        left: 15%;
    }

    /* viewBox="0 0 52.113 66.046" */
    #about_marker_top{
        position: absolute;
        bottom: 26%;
        left: -webkit-calc(15% - #{$marker_width} / 2 + 1.5px);
        left: calc(15% - #{$marker_width}/2 + 1.5px);
    }
}

.about_text_content {
    max-width: $content_about_width;
    position: absolute;
    z-index: 4000;
    &.upper_window {
        left: 0;
        top: 0;
    }
    &.lower_window{
        right: 0;
        bottom: 0;
    }
}

.about_content{
    padding: 5px 0 5px 10px;

    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    p {
        font-size: 16px;
    }
}

#about_middle_2_content {
    visibility: hidden;
}


#about_middle_1  {
    background-image: image_url('utah.jpg');
    background-position: center bottom;

    .about_text_content {
        background-color: rgba(255, 82, 12, 0.8);
    }

    #about_line_side{
        width: 53vw;
        top: 0.5%;
        left: calc(15% + 3px);
        @include vendor-prefix(transform, rotate(50deg));
        @include vendor-prefix(transform-origin, 0 0);
    }

    #about_line_middle{
        height: 100%;
        top: 43vw;
        left: calc(50% - 3px);
        overflow-y: hidden;
    }

    #about_marker_side{
        position: absolute;
        top: 35vw;
        left: 51%;
    }
}

#about_middle_2 {
    background-image: image_url('mountain.jpg');
    background-position: 25% 50%;

    .about_text_content {
        background-color: rgba(41, 57, 65, 0.7);
    }

    #about_line_middle_top{
        height: 15vw;
        top: 0;
        left: calc(50% - 3px);
    }
    #about_line_middle_bottom{
        height: 46vw;
        bottom: 0;
        left: calc(50% - 3px);
    }
    #about_marker_middle_2{
        position: absolute;
        top: 17vw;
        left: -webkit-calc(50% - #{$marker_width}/2 - 1px);
        left: calc(50% - #{$marker_width}/2 - 1px);
    }
}

#about_middle_3 {
    background-image: image_url('outlook.jpg');
    background-position: 25% 50%;

    .about_text_content {
        background: rgba(0, 74, 54, 0.7);
    }

    #about_line_side{
        width: 26vw;
        top: 0.5%;
        left: 50%;//calc(15% + 3px);
        @include vendor-prefix(transform, rotate(50deg));
        @include vendor-prefix(transform-origin, 0 0);
    }

    #about_line_middle{
        height: 55%;
        top: 21vw;
        left: calc(67% - 3px);
        overflow-y: hidden;
    }

    #about_marker_side{
        position: absolute;
        top: 14vw;
        left: 68%;
    }
}

#about_bottom {
    position: relative;
    background-color: rgba(41, 57, 65, 1);
    padding-top: 60px;
    p {
        color: #ffffff;
        font-size: 16px;
        margin-bottom: 10px;
    }
    #about_bottom_head{
        width: 95%;
        margin: 0 auto;
        text-align: center;
        h3 {
            color: #ffffff;
            margin-bottom: 20px;
        }
    }
    #about_bottom_team{
        margin: 0 auto;
        min-width: 250px;
        max-width: 330px;
        .team-member{
            float: left;
            margin: 5px;
            .team-picture{
                width: 100px;
                height: 100px;
                margin-bottom: 3px;
                background-image: image_url('mapmap-team.jpg');
                border: 5px solid #fff;
                border-radius: 50px;
                background-size: cover;
            }
            p {
                text-align: center;
                font-size: 10px;
            }
        }

        #stephan {
            background-position: 0%;
        }
        #franziska {
            background-position: calc(100% / 2);
        }
        #manuel {
            background-position: calc(100% / 2 * 2);
        }
    }

    .clear-float{
        clear: both;
    }

    #about_bottom_footer{
        width: 100px;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        bottom: 10px;
        right: 10px;
        a {
            color: #fff;
        }
    }
}

@media only screen and (max-width : 460px) {
    #about_bottom_footer {
        top: 20px;
    }
}

/* Tablet */
@media only screen and (min-width : 768px) {
    body.about {
        font-size: $font_size_desktop;
    }

    div#about_header {
        h1{
            font-size: 2.8em;
        }
        p {
            font-size: 1.1em;
        }
    }
    .about_page_article {
        &:before{
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left:0;
            right:0;
        }

        h3 {
            font-size: $h3;
        }
        h1 {
            font-size: $h1;
            margin-bottom: 15px;
        }
    }

    div#about_bottom {
        div#about_bottom_team{
            min-width: 320px;
            max-width: 550px;
            .team-member {
                margin: 15px;
                div.team-picture {
                    width: 150px;
                    height: 150px;
                    margin-bottom: 5px;
                    border-radius: 100px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

/* Desktop */
@media only screen and (min-width : 1200px) {
    .about_page_article {
        padding: 25vh 10%;
        min-height: 100vh;
        background-attachment: fixed;
    }
    .about_marker{
        width: 80px;
        height: calc(80px / 52 * 66);
    }
    #about_top{
        div#about_line{
            left: 34%;
        }
        svg#about_marker_top{
            left: calc(34% - 80px/2 + 1.5px);
        }
    }
    div#about_middle_1 {
        background-position: center top;
        #about_line_side{
            width: 24vw;
            top: 0.5%;
            left: calc(34% + 3px);
            @include vendor-prefix(transform, rotate(50deg));
            @include vendor-prefix(transform-origin, 0 0);
        }

        #about_line_middle{
            height: 100%;
            top: 19.5vw;
            left: calc(50% - 3px);
            overflow-y: hidden;
        }

        #about_marker_side{
            position: absolute;
            top: calc(19vw - 85px);
            left: 50%;
        }
    }
    div#about_middle_2 {
        div#about_line_middle_top {
            height: 15vh;
        }
        #about_marker_middle_2{
            top: 17vh;
            left: calc(50% - 80px/2 - 1.5px);
        }
    }

    .about_text_content {
        &.upper_window {
            top: 25%;
        }

        &.lower_window{
            bottom: 25%;
        }
    }

    #about_middle_2_content {
        visibility: visible;
        width: 100%;
        margin: 0 auto;
        margin-top: 10vh;
        text-align: center;
        h3 {
            font-weight: bold;
            margin-bottom: 5vh;
        }
        ul li {
            text-transform: uppercase;
            color: rgb(255, 82, 12);
            margin-bottom: 2vh;
            font-weight: bold;
        }
    }

    #about_middle_2 {
        #about_line_middle_bottom {
            height: 15vw;
        }
    }

    div#about_bottom {
        div#about_bottom_team{
            min-width: 420px;
            max-width: 700px;
            .team-member {
                margin: 15px;
                div.team-picture {
                    width: 200px;
                    height: 200px;
                    margin-bottom: 5px;
                    border-radius: 100px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
}