/**
 * styles - error_pages.scss
 *
 * university:      University of Applied Sciences Salzburg
 * degree course:   MultiMediaTechnology (BSc)
 * usage:           Multimediaprojekt 3 (MMP3)
 * authors:         Stephan Griessner
 *                  Manuel Mitterer
 *                  Franziska Oberhauser
 */

.error-page{
    background-color: $content-background-color;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow-y: auto;
    background-image: image_url('skateboard.jpg');
    padding-top: 100px;

    .dialog{
        width: 97%;
        max-width: 700px;
        background-color: $red;
        margin: 0 auto;
        padding: 2% 2%;
        text-align: center;
        border: 1px solid #fff;
        h1 {
            color: #fff;
            font-size: 1.5em;
        }
    }
}