/**
 * styles - from.scss
 *
 * university:      University of Applied Sciences Salzburg
 * degree course:   MultiMediaTechnology (BSc)
 * usage:           Multimediaprojekt 3 (MMP3)
 * authors:         Stephan Griessner
 *                  Manuel Mitterer
 *                  Franziska Oberhauser
 */

// ############ FORMS ###############
input, select, textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    color: #333;
    border: 1px solid #ccc;
    &:hover{
        border-color: $blue;
    }
    outline: none;
}

input[type="text"], textarea, input[type="select"] {
    box-shadow: none;
    -webkit-appearance: none;
    @include vendor-prefix(border-radius, 0)
}

input[type=checkbox]{
    display: none;
    &:checked + label:before {
        content: "✕";
    }
}

input[type=radio]{
    width: 20px;
    padding: 0px;
    margin-left: 0;
}

.error_messages {
    background-color: $red;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
    h3 {
        margin-bottom: 0px;
        text-transform: none !important;
        color: #fff !important;
    }
    ul {
        list-style: decimal;
        list-style-position: inside;
        li {
            margin-bottom: 5px;
        }
    }
}

.form-heading {
    position: relative;

    .help-icon {
        width: 20px;
        height: 20px;
        background-color: $blue;
        border: 1px solid #fff;
        border-radius: 100%;
        content: "?";
        color: #fff;
        position: absolute;
        right: 0;
        top:5px;
        line-height: 20px;
        text-align: center;
        font-size: 14px;
        &:after {
            content: "?";
        }
        &:hover {
            cursor: pointer;
        }
    }

    div.help-text{
        margin-bottom: 10px;
        background-color: $blue;
        padding: 10px;
        border: 1px solid #fff;
        display: none;
        color: #ffffff;
        font-size: 16px;
        p, li {
            color: #fff !important;
            font-size: 16px;
        }
    }
}



textarea {
    height: 100px;
    font-family: $font;
}

div.form-content {
    clear: both;
    width: 97%;
    margin: 0 auto;
    margin-bottom: 2%;

    .left-box{
        padding: 4% 4% 2% 4%;
    }
    .right-box{
        padding: 0% 4% 4% 4%;
    }

    .field{
        clear: both;
        width: 100%;
        margin-bottom: 10px;
        min-height: 40px;

        input, select {
            width: 100%;
            padding: 8px;
            font-size: 16px;
            color: #333;
            border: 1px solid #ccc;
            @include vendor-prefix("box-sizing", "border-box");

            &:hover{
                border-color: $blue;
            }
        }

        .label-field{
            width: 100%;
            float: left;
            line-height: 32px;
        }

        .input-field{
            width: 100%;
            float: right;
        }

        i {
            color: #666;
            font-size: 0.8em;
        }

        &:after {
            content: "";
            clear: both;
            display: block;
        }
    }

    .floatable {
        height: 40px;
        border: 1px solid #ccc;
        position: relative;
        .label-active {
            color: #333;
            top: 1px;
            font-size: 13px;
        }
        input {
            height: 38px;
            border: none;
            position: relative;
            padding: 0px 8px;
            @include transition(all, 0.5s, ease-in-out);
            &:focus, &.not-empty{
                height: 22px;
                margin-top: 16px;
                & + label {
                    @extend .label-active
                }
            }
        }

        label {
            position: absolute;
            display: block;
            line-height: 1.0;
            top: 10px;
            left: 8px;
            color: #999;
            @include transition(all, 0.5s, ease-in-out);
        }
        .field_with_errors {
            display: inline;
        }
    }

    .field-images {
        float: left;
        margin: 10px;
        width: 115px;
        height: 160px;
        border: 1px solid #ccc;
        padding: 5px;
        position: relative;
        background-color: rgba(255,255,255,1);
        .field {
            margin-bottom: 0;
            position: absolute;
            bottom: 0;
            min-height: 30px;
        }
        .img-container {
            width: 100%;
            max-height: 120px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .checkbox {
            label{
                &:before{
                    left: 0px;
                }
            }
        }
    }

    .checkbox {
        input[type=checkbox]{
            display: none;
            &:checked + label:before {
                content: "✕";
            }
        }

        label{
            display: inline-block;
            cursor: pointer;
            padding-left: 25px;
            color: #777;
            &:before{
                content: "";
                display: inline-block;
                background-color: #fff;
                width: 15px;
                height: 15px;
                margin-right: 10px;
                font-size: 16px;
                color: #aaa;
                text-align: center;
                line-height: 16px;
                border: 1px solid #ccc;
                margin-top: 5px;
                position: absolute;
                left: 15px;
            }
        }
    }
    .checkbox-right {
        input[type=checkbox]{
            display: inline-block;
            height: 16px;
            cursor: pointer;
            color: #777;
        }
    }

    .actions {
        margin-top: 30px;
        input[type=submit]{
            margin-top: 15px;
            width: 100%;
            font-size: 16px;
            border-radius: none;
            -webkit-appearance: none;
        }
    }

    .field_with_errors {
        input, select {
            border: 1px solid $red;
        }
    }

    .form-shared{
        margin-top: 20px;
        text-align: center;
    }
}

// ############ MEDIA FILTER MAIN MAP ###############
div.filter-bar {
    $filter-width: 320px;
    position: absolute;
    height: 100%;
    max-height: calc(100% - 50px);
    width: $filter-width;
    z-index: 100;
    top: 50px;
    right: -$filter-width;
    background: rgba(235, 235, 235, 0.7);
    overflow: hidden;
    overflow-y: scroll;
    @include transition(all, 0.5s, ease-in-out);
    &.active{
        right: 0;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    div.filter {
        &.first {
            margin-top: 70px;
        }
        padding: 0 10px 10px 10px;
        background: transparent;
        height: auto;
        p {
            text-align: left;
        }
        h2 {
            position: relative;
            text-align: center;
            margin-bottom: 0;
            cursor: pointer;
            &.uncollapsed {
                background: image-url('glyphicons-601-chevron-up.png') no-repeat 6px 12px;
            }
            &.collapsed {
                background: image-url('glyphicons-602-chevron-down.png') no-repeat 6px 12px;
            }
        }
        .collapse {
            display: block;
            position: absolute;
            left: 12px;
            top: 12px;
            width: 20px;
            height: 20px;
        }

        .reset-form {
            position: absolute;
            display: block;
            top: 18px;
            right: 30px;
            font-size: 26px;
            z-index: 1000000;
            cursor: pointer;
            &.hidden {
                display: none;
            }
            .reset-link {
                position: absolute;
                background: #fff;
                top: 0px;
                right: -10px;
                line-height: 20px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                color: rgba(100,0,0,0.8);
                border-top: 1px solid #fff;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                padding: 5px;
            }
            .reset-info {
                position: absolute;
                display: none;
                background: #fff;
                color: rgba(100,0,0,0.8);
                top: 30px;
                right: -10px;
                font-size: 18px;
                text-align: center;
                width: 100px;
                padding: 5px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border: 1px solid rgba(100,0,0,0.8);
            }
            &:hover, &:active {
                .reset-link {
                    border-top: 1px solid rgba(100,0,0,0.8);
                    border-left: 1px solid rgba(100,0,0,0.8);
                    border-right: 1px solid rgba(100,0,0,0.8);
                }
                .reset-info {
                    display: block;
                }
            }
        }
        div.filter-content {
            width: 100%;
            position: relative;
            padding: 15px;
            .field {
                min-height: 20px;
            }
            label {
                font-size: 14px;
            }
            .radio-buttons {
                input {
                    width: 14px;
                }
            }
            .checkboxes {
                label:before {
                    margin-top: 2px;
                }
                &.half {
                    width: 49%;
                    display: inline-block;
                }
            }
            p {
                margin-top: 10px;
                &.first {
                    margin-top: 0px;
                }
            }
            .input-field:not(:last-child) {
                margin-bottom: 10px;
            }
            .custom-tags {
                margin-bottom: 0px;
            }
            form {
                position: relative;
            }
        }
    }
    div#filter-result {
        padding: 0 10px;
        .result-container {
            h5 {
                margin-bottom: 0;
                width: 80%;
                display: inline-block;
                vertical-align: top;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &.no-tracks {
                    width: 100%;
                    text-align: center;
                    padding: 10px 0 5px 0;
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 10px;
                }
            }
            background: rgba(255, 255, 255, 0.9);
            position: relative;
            width: 100%;
            margin-bottom: 10px;
            padding: 5px 10px 10px 10px;
            cursor: crosshair;
            @include vendor-prefix("transition", "background 0.5s");

            &:hover, &.hover {
                background: rgba(216, 216, 216, 0.9);
            }

            &.no-result {
                cursor: default;
                &:hover, &.hover {
                    background: #fff;
                }
                p {
                    font-size: 16px;
                    text-align: center;
                    @include vendor-prefix("transition", "all 0.5s");
                    &.clear-filter {
                        cursor: pointer;
                        color: rgba(100,0,0,0.8);
                        font-size: 18px;
                        &:hover, &:active {
                            color: rgba(150,0,0,0.8);
                        }
                    }
                    &.search-location {
                        cursor: pointer;
                        font-size: 18px;
                        &:hover, &:active {
                            color: rgba(90,90,90,0.8);
                        }
                    }
                }
            }

            .media-title {
                display: inline-block;
                width: 130px;
                max-height: 80px;
                overflow: hidden;
                vertical-align: top;
                padding-top: 4px;
            }
            .media-icon {
                display: inline-block;
                position: absolute;
                right: 10px;
                top: 10px;
                width: 30px;
                height: 26px;
                background-size: 30px;
            }
            .album-icon {
                background-image: image_url('picture-icons.png');
                height: 24px;
            }

            .videolink-icon, .videoupload-icon {
                background-image: image_url('film-icon.png');
            }
            .result-info {
                display: inline-block;
                width: 150px;
                font-size: 14px;
                padding-left: 5px;
                i {
                    font-size: 15px;
                }
                p:first-child {
                    font-size: 15px;
                }
            }
        }
    }
}

#filter-toggle{
    display: block;
    position: absolute;
    right: 0;
    @include calc-position(top, 50%, 25px);
    width: 30px;
    padding: 9px 0px;
    margin:0 auto;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 200;
    cursor: pointer;
    @include transition(all, 0.5s, ease-in-out);
    .icon {
        > svg {
            display: inline-block;
            width: 32px;
            height: 32px;
            vertical-align: middle;
            margin: 0 auto;
            @include rotate (-90);
            path {
                fill: #333;
            }
        }
    }
    &.active{
        .icon {
            > svg {
                @include rotate (90);
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    div.filter-bar {
        $filter-width: 340px;
        width: $filter-width;
        right: -$filter-width;
    }
    #filter-toggle{
        &.active {
            right: 340px;
        }
    }
}

@media only screen and (min-width: 768px){
    div.filter-bar {
        display: block;
        top: 0px;
        max-height: 100%;
    }
    div.form-content {
        .left-box {
            padding: 4% 4% 4% 4%;
            width: 65%;
            float: left;
        }
        .right-box{
            width: 35%;
            padding: 4% 20px;
            float:right;
            background-color: $grey;
            min-height: 570px;
        }
    }
}