<%#=
# albums - _show.html.erb
#
# university:       University of Applied Sciences Salzburg
# degree course:    MultiMediaTechnology (BSc)
# usage:	        Multimediaprojekt 3 (MMP3)
# authors:          Stephan Griessner
#                   Manuel Mitterer
#                   Franziska Oberhauser
%>

<div id="album-head-image" class="media-head">
    <%= image_tag @resource.medium.images.first.pic.url(:large, timestamp: false) %>
</div>
