<%#=
# video_uploads - _index.html.erb
#
# university:       University of Applied Sciences Salzburg
# degree course:    MultiMediaTechnology (BSc)
# usage:	        Multimediaprojekt 3 (MMP3)
# authors:          Stephan Griessner
#                   Manuel Mitterer
#                   Franziska Oberhauser
%>
<div class="video-upload-thumb media-title">
    <%= link_to medium_path(resource), title: resource.title do %>
        <%= image_tag resource.medium.upload.url(:thumb, timestamp: false), alt: resource.title %>
    <% end %>
</div>