<%#=
# static - about.html.erb
#
# university:       University of Applied Sciences Salzburg
# degree course:    MultiMediaTechnology (BSc)
# usage:	        Multimediaprojekt 3 (MMP3)
# authors:          Stephan Griessner
#                   Manuel Mitterer
#                   Franziska Oberhauser
%>
<div id="about_top" class="about_page_article">
    <div id="about_header">
        <h1>Welcome to mapMap</h1>
        <p>Share your experience and explore a new world</p>
    </div>
    <div id="about_line" class="line"></div>
    <svg version="1.1" id="about_marker_top" class="about_marker" viewBox="0 0 52.113 66.046">
        <path fill="#FFFFFF" d="M26.057,0C11.666,0,0,11.666,0,26.057c0,12.096,8.244,22.264,19.419,25.2l1.501,3.349l5.131,11.44
        l5.137-11.438l1.504-3.35c11.177-2.936,19.422-13.104,19.422-25.201C52.113,11.666,40.447,0,26.057,0z M26.246,40.742
        c-8.473,0-15.341-6.868-15.341-15.34s6.868-15.341,15.341-15.341s15.34,6.869,15.34,15.341S34.719,40.742,26.246,40.742z"/>
    </svg>
</div>

<div id="about_middle_1" class="about_page_article">
    <div class="about_text_content upper_window">
        <div class="about_content">
            <h3>What is mapMap?</h3>
            <p> mapMap is an interactive online leisure guide for sharing videos and images of great activities.
            Our aim is to encourage people to engage <strong> together </strong> in <strong> athletic </strong>
            actions.</p>
        </div>
    </div>
    <div class="about_text_content lower_window">
        <div class="about_content">
            <h3>Ok nice! But how?</h3>
            <p>Don`t worry! It is very simple. There are only four steps required to share your experience with other people:</p>
            <p> <a class="create-account"> 1. Create an account </a> </p>
            <p> <a class="select-resource"> 2. Select the desired resource </a> </p>
            <p> <a class="specify-details"> 3. Specify the details of your image or video </a> </p>
            <p> <a class="add-track"> 4. Add a track if you want</a> </p>
        </div>
    </div>
    <div id="about_line_side" class="line-side"></div>
    <div id="about_line_middle" class="line"></div>
    <svg version="1.1" id="about_marker_side" class="about_marker" viewBox="0 0 56.629 52.113">
        <path fill="#FFFFFF" d="M50.489,9.257c-9.278-11-25.718-12.396-36.718-3.118C4.524,13.938,2.068,26.797,7.029,37.231l-1.592,3.307
        L0,51.836l12.056-3.448l3.53-1.011c9.449,6.651,22.539,6.397,31.786-1.402C58.372,36.697,59.768,20.258,50.489,9.257z M19.469,35.67
        c-5.463-6.477-4.642-16.154,1.834-21.616c6.477-5.462,16.155-4.641,21.617,1.835c5.463,6.477,4.641,16.154-1.836,21.617
        C34.609,42.968,24.931,42.146,19.469,35.67z"/>
    </svg>
</div>

<div id="about_middle_2" class="about_page_article">
    <div id="create-step" class="about_text_content upper_window">
        <div class="about_content">
            <h3>1. Create an account</h3>
            <p> In order to upload a video or an image it is necessary to create a user-account: </p>
            <p> 1. New mapMap account </p>
            <p> 2. Sign up with Facebook </p>
            <a href="http://mapmap.mediacube.at/users/sign_up" > Link to Register </a>
        </div>
    </div>
    <div id="select-step" class="about_text_content lower_window">
        <div class="about_content">
            <h3> 2. Select the desired resource </h3>
            <p> After the login you can choose between tree: </p>
            <p> 1. Image upload </p>
            <p> 2. Youtube- or Vimeo-video integration</p>
            <p> 3. Local video upload </p>
            <a href="http://mapmap.mediacube.at/resource_steps/select" > Link to select resource </a>
        </div>
    </div>

    <div id="about_middle_2_content">
        <h3> Why mapMap? </h3>
        <ul>
            <li> Discover new free time activities </li>
            <li> Get together </li>
            <li> Meet like-minded people </li>
            <li> Do sport! </li>
            <li> Exchange know-how </li>
            <li> goodbye boredom! </li>
        </ul>
    </div>

    <div id="about_line_middle_top" class="line"></div>
    <div id="about_line_middle_bottom" class="line"></div>
    <svg version="1.1" id="about_marker_middle_2" class="about_marker" viewBox="0 0 52.113 66.046">
        <path fill="#FFFFFF" d="M26.057,0C11.666,0,0,11.666,0,26.057c0,12.096,8.244,22.264,19.419,25.2l1.501,3.349l5.131,11.44
        l5.137-11.438l1.504-3.35c11.177-2.936,19.422-13.104,19.422-25.201C52.113,11.666,40.447,0,26.057,0z M26.246,40.742
        c-8.473,0-15.341-6.868-15.341-15.34s6.868-15.341,15.341-15.341s15.34,6.869,15.34,15.341S34.719,40.742,26.246,40.742z"/>
    </svg>
</div>

<div id="about_middle_3" class="about_page_article">
    <div id="detail-step" class="about_text_content upper_window">
        <div class="about_content">
            <h3>3. Specify the details of your image or video </h3>
            <p> As a third step you can add information to your video or image.
            If you add meaningful tags to your resource, other users will find
            it more easily and can spread your awesome video or image!
            </p>
        </div>
    </div>
    <div id="track-step" class="about_text_content lower_window">
        <div class="about_content">
            <h3> 4. Add a track if you want </h3>
            <p> As a last step you are free to add a route to your resource. Here you can either
            upload a GPX-file, or draw a track on your own. Check it out! </p>
        </div>
    </div>
    <div id="about_line_side" class="line-side"></div>
    <div id="about_line_middle" class="line"></div>
    <svg version="1.1" id="about_marker_side" class="about_marker" viewBox="0 0 56.629 52.113">
        <path fill="#FFFFFF" d="M50.489,9.257c-9.278-11-25.718-12.396-36.718-3.118C4.524,13.938,2.068,26.797,7.029,37.231l-1.592,3.307
        L0,51.836l12.056-3.448l3.53-1.011c9.449,6.651,22.539,6.397,31.786-1.402C58.372,36.697,59.768,20.258,50.489,9.257z M19.469,35.67
        c-5.463-6.477-4.642-16.154,1.834-21.616c6.477-5.462,16.155-4.641,21.617,1.835c5.463,6.477,4.641,16.154-1.836,21.617
        C34.609,42.968,24.931,42.146,19.469,35.67z"/>
    </svg>
</div>

<div id="about_bottom">
    <div id="about_bottom_head">
        <h3>About our team and the project</h3>
        <p>mapMap is a student project of the University of Applied Sciences Salzburg.</p>
        <p>This is our team</p>
    </div>
    <div id="about_bottom_team">
        <%= team_member("stephan", "Stephan Griessner", "MMT", "Development") %>
        <%= team_member("franziska", "Franziska Oberhauser", "MMT", "Development") %>
        <%= team_member("manuel", "Manuel Mitterer", "MMT", "Development") %>
        <div class="clear-float"></div>
    </div>
    <div id="about_bottom_footer">
        <%= nav_link 'Imprint', imprint_path %>
    </div>
</div>
