<%#=
# errors - 422.html.erb
#
# university:       University of Applied Sciences Salzburg
# degree course:    MultiMediaTechnology (BSc)
# usage:	        Multimediaprojekt 3 (MMP3)
# authors:          Stephan Griessner
#                   Manuel Mitterer
#                   Franziska Oberhauser
%>

<div id="unacceptable-error" class="error-page one-page">
    <div class="dialog">
        <div>
            <h1>The change you wanted was rejected.</h1>
            <p>Maybe you tried to change something you didn't have access to.</p>
        </div>
    </div>
</div>