<%#=
# errors - 500.html.erb
#
# university:       University of Applied Sciences Salzburg
# degree course:    MultiMediaTechnology (BSc)
# usage:	        Multimediaprojekt 3 (MMP3)
# authors:          Stephan Griessner
#                   Manuel Mitterer
#                   Franziska Oberhauser
%>

<div id="internal-error" class="error-page one-page">
    <div class="dialog">
        <div>
            <h1>We're sorry, but something went wrong.</h1>
        </div>
    </div>
</div>